@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Estilo para que el texto de neón se vea más brillante */
.neon-text-pink {
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.neon-text-cyan {
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}
